@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(frameworks/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
#display{
  width: 100%;
  height: 100%;
  margin: 0%;
  position: fixed;
  border: 2px solid rgb(174, 233, 194);
  background-color: white;
}
*{margin: 0%;}
#editorInit { 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 630px;
}
#editorUpdate{ 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 630px;
}
canvas{
  position: fixed;
  width: 100%;
  height: 100%;
}
html{
  background-color: rgba(228, 230, 221, 0.596);
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }